<h1>Mon panier</h1>
<div class="listPanier">
  <div *ngFor="let plat of finalRepresentationBasket">
    <p >{{plat.nom}}</p>
    <p>quantité : {{getHowManyFromBasket(plat.id)}}</p>
    <p >{{(this.plat.prix * this.quantity).toFixed(2)}} euros</p>
  </div>
  <p>TOTAL DE LA COMMANDE : {{this.totalPrice.toFixed(2)}} euros</p>
</div>
