<h1>Créer votre Compte !</h1>
<div>
  <div>
    <a class="btn" routerLink="/" routerLinkActive="active">Revenir à l'accueil<i
      class="fas fa-undo-alt"></i></a>
  </div>
  <div class="form_container">
    <div>
    <label for="nom">Nom : </label>
    <input id="nom" name="pseudo" type="text" [(ngModel)]="nom"required>
  </div>
    <div>
      <label for="prenom">Prenom : </label>
      <input id="prenom" name="pseudo" type="text" [(ngModel)]="prenom"required>
    </div>
      <div>
      <label for="email">E-mail : </label>
      <input id="email" name="email" type="email" [(ngModel)]="email"  (ngModelChange)="validEmail(email)"  required>
    </div>
    <div *ngIf="isemailCorrect === false">
      <p>l'adresse mail n'est pas conforme</p>
    </div>
    <div>
      <label for="password">Mot de passe : </label>
      <input id="password" name="password" type="password" [(ngModel)]="password" required>
    </div>
    <div>
      <label for="passwordTest">Verification du mot de passe : </label>
      <input id="passwordTest" name="passwordTest" type="password" [(ngModel)]="passwordTest" required>
    </div>

    <div>
      <label for="telephone" > Téléphone:</label>
      <input id="telephone" name="telephone" type="text" [(ngModel)]="telephone"required>
    </div>
    <div>
      <h3>Addresse</h3>
      <div>
        <label for="numRue"> N°:</label>
        <input id="numRue" name="numRue" type="number" [(ngModel)]="numRue"required>
      </div>
      <div>
        <label for="nomRue"> Nom de la rue :</label>
        <input id="nomRue" name="nomRue" type="text" [(ngModel)]="nomRue"required>
      </div>
      <div>
        <label for="ville"> Ville : </label>
        <input id="ville" name="ville" type="text" [(ngModel)]="ville"required>
      </div>
      <div>
        <label for="cp"> Cp :</label>
        <input id="cp" name="cp" type="number" [(ngModel)]="cp"required>
      </div>
    </div>
    <div>
      <p *ngIf="password != passwordTest && passwordTest != null" class="alert-red"><i class="fas fa-exclamation-circle"></i> Attention Vos mots de passe sont différents </p>
      <button  class="btn-submit" type="submit" (click)="enregistrer()" *ngIf="password != null && password === passwordTest
       && isemailCorrect != false && nom != null"  routerLink="/login" routerLinkActive="active">Valider</button>
    </div>
  </div>
</div>
