<h1>Se connecter!</h1>
<div >
  <div>
    <label for="username">Nom</label>
    <input id="username" type="text" [(ngModel)]="username">
  </div>
  <div>
    <label for="password">Mot de passe</label>
    <input (keydown.enter) = " onClickValidate() "  id="password" type="password" [(ngModel)]="password">
  </div>
  <button (click)="onClickValidate()">Se connecter</button>
</div>
