div{
  margin:0;
  height: 1130px;
  background-image: url("https://blog.sandwichshows.com/wp-content/uploads/2020/01/service-de-livraison-restaurant-980x871.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
h1{
  font-weight: bold;
  text-align: center;
  padding: 30px;
}
