<nav class="toolbar" role="banner">
  <a class="btn" routerLink="/cartes" routerLinkActive="active">Cartes</a>
  <a *ngIf="connected === false" class="btn" routerLink="/create-user" routerLinkActive="active">Création d'un compte</a>
  <a *ngIf="connected === false" class="btn" routerLink="/login" routerLinkActive="active">Login</a>
  <a *ngIf="connected === true" class="btn" routerLink="/panier" routerLinkActive="active">Mon panier</a>
  <a *ngIf="connected === true" class="btn" routerLink="/" routerLinkActive="active" (click)="deconnexion()">Se déconnecter</a>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
