.toolbar{
  position: sticky;
  width: 100%;
  background-color: #333333;
  padding: 5px ;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.toolbar img {
  height: 50px;
  float: left;
}

.toolbar a {

  color : #FFE81F;
  text-decoration: none;
}
