<h1>Notre Carte</h1>
<div>
  <!--
     Triage des plats en fonction de leurs catégorie
  -->
  <label for="filtreCategorie">Trier par catégorie</label>
  <select [(ngModel)]="categorieChoice" name="idCategorie" id="filtreCategorie">
    <option value="Toutes les catégories" selected>Toutes les catégories</option>
    <option *ngFor="let categorie of categorieList" value="{{categorie.id}}">{{categorie.nom}}</option>
  </select>
</div>
<div class="plats">
  <div class="plat" *ngFor="let plat of filterByCategorie()">
    <!--
        condition de couleur sur une classe
    -->
    <div
      [ngClass]="{'entree':plat.idCategorie === '1','principal': plat.idCategorie === '2', 'dessert': plat.idCategorie === '3'}">
      <h3>{{plat.nom}}</h3>
      <p>{{plat.prix}} €</p>
      <div class="btn-basket" *ngIf="connected === true">
        <div>
          <button (click)="supFromBasket(plat.id)">-</button>
        </div>
        <div><i class="fas fa-shopping-cart"></i></div>
        <div>
          <button (click)="getIntoBasket(plat.id)">+</button>
        </div>
      </div>
      <div *ngIf="connected === true">
        <p>{{getHowManyFromBasket(plat.id)}} dans le panier</p>
      </div>
    </div>

  </div>
</div>
