
.plats{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.btn-basket{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.btn-basket div{
  margin: 5px;
}


.plat{
  margin: 20px;
  display: flex;
  flex-direction: column;
}


.entree {
  background-color: #fff9b4;
  padding: 10px;
  text-align: center;
}

.principal{
  background-color: #ffbf9d;
  padding: 10px;
  text-align: center;


}

.dessert{
  background-color: #ffc0cb;
  padding: 10px;
  text-align: center;


}
